.container {
    background-color: rgb(42, 107, 67);
}

.container .h1-pago_producto, .h2-pago_producto, .h3-pago_producto {
    color: white;
    font-weight: bold;
}

.container .bg-custom {
    background-color: #464646;
}

.img-custom {
    width: 100%;
    height: 250px;
    object-fit: cover;
}