{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static "navbar.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block extra_styles %}
    <link rel="stylesheet" href="{% static 'cliente_sesion.css' %}">
    {% endblock %}
    
    <title>FastSHOP</title>
</head>

<body>
    {% block main %}
    <main class="flex-grow flex items-center justify-center overflow-hidden">
        <div class='app-container'>
            <div class="panel-left" id="panelLeft">
                <h2 id="panelText">¿No tienes cuenta?</h2>
                <p id="panelSubtext">Presiona para registrarte</p>
                <button id="togglePanel" class="panel-toggle-btn">
                    <span id="toggleText">Registrarse</span>
                </button>
            </div>
            <div class="form-container">
                <div class="form-section login-section active" id="loginSection">
                    <h2 class="text-2xl font-bold mb-4 text-gray-800">Ingreso del cliente</h2>
                    <form action="{% url 'Ingreso_Cliente' %}" method="POST" class="form-wrapper">
                        {% csrf_token %}
                        <div class="position-relative mb-4">
                            <i data-lucide="scan-face" class="form-control-icon"></i>
                            <input type="text" name="cedula" placeholder="Cédula cliente" required class="form-control">
                        </div>
                        <button type="submit" id="btnLogin" class="btn-primary">Ingresar</button>
                    </form>
                </div>
                <div class="form-section register-section" id="registerSection">
                    <h2 class="text-2xl font-bold mb-4 text-gray-800">Registro del cliente</h2>
                    <form method="POST" class="form-wrapper">
                        {% csrf_token %}
                        <div class="position-relative mb-3">
                            <i data-lucide="user" class="form-control-icon"></i>
                            <input type="text" name="nombre" placeholder="Nombre cliente" required class="form-control">
                        </div>
                        <div class="position-relative mb-3">
                            <i data-lucide="user-check" class="form-control-icon"></i>
                            <input type="text" name="apellido" placeholder="Apellido cliente" required class="form-control">
                        </div>
                        <div class="position-relative mb-4">
                            <i data-lucide="scan-face" class="form-control-icon"></i>
                            <input type="text" name="cedula" placeholder="Cédula cliente" required class="form-control">
                        </div>
                        <button type="submit" id="btnRegistrar" class="btn-primary">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
    
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    <script src="{% static 'js/cliente_sesion.js' %}"></script>
</body>
</html>