{% extends "Cliente_sesion.html" %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'colors.css' %}">
<script src="https://unpkg.com/lucide@latest"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        lucide.createIcons();
    });
</script>

<div class="container-fluid">
    <div class="row">
        {%  include "navbar.html" %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>

<script src="{% static 'js/carrito.js' %}"></script>

{% endblock %}
