{% extends "index.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'pago_producto.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Panel izquierdo - Productos -->
        <div class="product-panel">
            <h1 class="h1-pago_producto">Confirmación de compra</h1>
            <h2 class="h2-pago_producto">Cliente: {{ cliente.name }} {{ cliente.apellido }}</h2>
            
            <h3 class="h3-pago_producto">Tus productos</h3>
            <ul id="selected-products" class="list-group">
                <!-- Los productos se insertarán aquí -->
            </ul>
            
            <!-- Total a pagar -->
            <div class="total-container">
                <span class="total-label">Total a pagar</span>
                <span id="total-price">$0.00</span>
            </div>
        </div>
        
        <!-- Panel derecho - Métodos de pago -->
        <div class="summary-panel">
            <div class="payment-header">
                SELECCIONA TU MÉTODO DE PAGO
            </div>
            
            <div class="payment-methods">
                {% for metodo, imagen, texto in metodos_pago %}
                <div class="payment-method">
                    <img src="{% static imagen %}" class="payment-icon" alt="{{ texto }}">
                    <form method="POST" id="form-{{metodo}}" action="{% url 'metodo_pago' %}?metodo={{metodo}}">
                        {% csrf_token %}
                        <input type="hidden" name="metodo" value="{{metodo}}">
                        <input type="hidden" name="carrito">
                        <button type="button" onclick="enviarFormulario('form-{{ metodo }}')" class="btn-pago">
                            <span data-lucide="credit-card" class="btn-icon"></span>
                            {{ texto }}
                        </button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

   <script src="{% static 'js/pago_producto.js' %}"></script>
{% endblock %}